<div class="ui page grid overview segment">
    <div class="ui tiered menu">
        <div class="menu">
            <div class="active item">
                <i class="home icon"></i>
                Alerts
            </div>
            <a class="item">
                <i class="mail icon"></i>
                Tests
            </a>
        </div>
        <div class="sub menu">
            <div class="active item">Activity</div>
            <a class="item">Profile</a>
        </div>
    </div>
</div>
